<div class="app">
    <header class="header">
        <div class="container">
            <div class="header-box">
                <div class="header-logo">
                    To Do
                </div>
                <a href="/auth/login" class="auth-btn">Войти</a>
                {{!-- <div class="header-auth"> --}}
                    
                    {{!-- <img src='user.png' alt="" class="auth-avatar"> --}}
                {{!-- </div> --}}
            </div>
        </div>
    </header>
    <div class="todo">
        <div class="sidebar">
            <div class="burger">
                <div class="line"></div>
            </div>
        </div>
        <div class="tasks">
            <h3 class="tasks-title">Текущие задачи</h3>
            <div class="task">
                <div class="task-add">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <polygon
                                    points="276,236 276,0 236,0 236,236 0,236 0,276 236,276 236,512 276,512 276,276 512,276 512,236 		" />
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </div>
                <form action="/add" method="post" class="task-form">
                    <input name="task" type="text" class="task-name" placeholder="Добавить задачу" maxlength="90">
                    <button type="submit" class="task-btn">Добавить</button>
                </form>
            </div>
            {{#each tasks}}
            {{#if complete}}
            {{else}}
            <div class="new-task">
                <div class="task-add">
                    {{#if complete}}
                    <input data-date="{{date}}" class="task-check" id="task-check-{{date}}" type="checkbox" name="complete" maxlength="90" checked>
                    {{else}}
                    <input data-date="{{date}}" class="task-check" id="task-check-{{date}}" type="checkbox" name="complete" maxlength="90">
                    {{/if}}
                    <label class="task-check_label" for="task-check-{{date}}"></label>
                </div>
                <div data-date="{{date}}" href="/{{date}}" class="task-title">{{title}}</div>
                <form action="/remove" method="post">
                    <input type="hidden" name="date" value="{{date}}">
                    <button type="submit" class="task-delete">Удалить</button>
                </form>
            </div>
            {{/if}}
            {{/each}}
            <div class="task-complete">
                <div class="task-complete__arrow">›</div>
                <h3 class="tasks-complete__title">Завершенные</h3>
            </div>
            <div class="task-complete__content">
            {{#each tasks}}
            {{#if complete}}
                <div class="new-task">
                    <div class="task-add">
                        {{#if complete}}
                        <input data-date="{{date}}" class="task-check" id="task-check-{{date}}" type="checkbox" name="complete" maxlength="90" checked>
                        {{else}}
                        <input data-date="{{date}}" class="task-check" id="task-check-{{date}}" type="checkbox" name="complete" maxlength="90">
                        {{/if}}
                        <label class="task-check_label" for="task-check-{{date}}"></label>
                    </div>
                    <div data-date="{{date}}" href="/{{date}}" class="task-title">{{title}}</div>
                    <form action="/remove" method="post">
                        <input type="hidden" name="date" value="{{date}}">
                        <button type="submit" class="task-delete">Удалить</button>
                    </form>
                </div>
            {{else}}
            {{/if}}
            {{/each}}
            </div>
        </div>
        <div class="details">
            <div class="details-title__wrap">
                <input data-date="{{date}}" class="task-check details-check" id="" type="checkbox" name="complete" maxlength="90">
                <label class="task-check_label details-check__label" for=""></label>
                <input data-date="" class="details-title" type="text" value="Текст">
            </div>
            <div class="details-desc__wrap">
                <div class="details-desc__icon">
                    <svg height="401pt" viewBox="0 -1 401.52289 401" width="401pt" xmlns="http://www.w3.org/2000/svg"><path d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0"/><path d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0"/></svg>
                </div>
                <textarea data-date="" class="details-desc" type="text" value="Текст" placeholder="Описание задачи"></textarea>
            </div>
            <div class="details-footer">
                <div class="details-close"><svg id="Capa_1" enable-background="new 0 0 413.348 413.348" height="512" viewBox="0 0 413.348 413.348" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"/></svg></div>
                <div class="details-date__wrap">
                    <div class="details-create">Создано</div>
                    <div class="details-data"></div>
                </div>
                <div data-date="" class="details-delete"><svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m256 441.142c8.284 0 15-6.716 15-15v-201.409c0-8.284-6.716-15-15-15s-15 6.716-15 15v201.409c0 8.284 6.716 15 15 15z"/><path d="m173.412 427.552c.78 8.263 8.115 14.303 16.344 13.523 8.248-.779 14.302-8.096 13.523-16.344l-19.018-201.409c-.779-8.247-8.083-14.303-16.344-13.523-8.248.779-14.302 8.096-13.523 16.344z"/><path d="m322.244 441.076c8.238.779 15.564-5.269 16.344-13.523l19.018-201.409c.779-8.248-5.276-15.565-13.523-16.344-8.26-.784-15.565 5.276-16.344 13.523l-19.018 201.409c-.779 8.247 5.276 15.565 13.523 16.344z"/><path d="m57.646 168.875h8.967l43.448 330.083c.982 7.463 7.344 13.042 14.872 13.042h262.135c7.528 0 13.889-5.579 14.872-13.042l43.448-330.083h8.967c8.284 0 15-6.716 15-15v-65.629c0-8.284-6.716-15-15-15h-128.357v-5.911c0-37.128-30.207-67.335-67.335-67.335h-5.325c-37.128 0-67.335 30.207-67.335 67.335v5.911h-128.357c-8.284 0-15 6.716-15 15v65.629c0 8.284 6.715 15 15 15zm316.267 313.125h-235.826l-41.215-313.125h318.257zm-157.911-414.665c0-20.586 16.749-37.335 37.335-37.335h5.325c20.586 0 37.335 16.749 37.335 37.335v5.911h-79.995zm-143.356 35.911h366.709v35.629c-3.207 0-362.709 0-366.709 0z"/></g></svg></div>
            </div>
        </div>
</div>